@using Sedziowanie.Models
@model Rozgrywki

@{
    ViewData["Title"] = "Dodaj Rozgrywki";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label for="Nazwa">Nazwa rozgrywki</label>
        <input type="text" id="Nazwa" name="Nazwa" class="form-control" required />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Dodaj rozgrywki</button>
</form>

