@model Sedziowanie.Models.Mecz

@{
    ViewData["Title"] = "Usuń Mecz";
}

<h2>Usuń Mecz</h2>

<p style="color: red;">Czy na pewno chcesz usunąć mecz  <strong>@Model.Gospodarz</strong> - <strong>@Model.Gosc</strong>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="ListaMeczowAdmin" class="btn btn-secondary">Anuluj</a>
</form>
