@model Sedziowanie.Models.Sedzia

@{
    ViewData["Title"] = "Usuń Sędziego";
}
<style>
    body {
        background-image: url('/sedzia.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #fff;
    }

    table {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 10px;
    }
</style>

<h2>Usuń Sędziego</h2>

<div>
    <p>Czy na pewno chcesz usunąć sędziego <strong>@Model.Imie @Model.Nazwisko</strong>?</p>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Show" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
