@model Sedziowanie.Models.Sedzia

@{
    ViewData["Title"] = "Usuń Sędziego";
}

<h2>Usuń Sędziego</h2>

<div>
    <p>Czy na pewno chcesz usunąć sędziego <strong>@Model.Imie @Model.Nazwisko</strong>?</p>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Show" class="btn btn-secondary">Anuluj</a>
    </form>
</div>
